@font-face{
    font-family: Cantarell-Regular;
    src: url('../fonts/Cantarell-Regular.ttf');
}
*{
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    box-sizing: border-box;
}
body{
    padding: 0;
    outline: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    color: #fff;
    font-family: Vazir;
    background: #46494c;
    direction: rtl;
}
body .header-and-nav{
    width: 100%;
    position: relative;
}
body .header-and-nav nav{
    width: 100%;
    height:52px;
    background: #4C5C68;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    display: flex;
    flex-flow:row wrap ;
    align-items: center;
    align-content: center;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100000;
}
.img-logo-menu,
.nav-left,
.nav-right{
    width: 50%;
    height: 100%;
    display: flex;
    flex-flow:row wrap ;
    align-items: center;
    align-content: center;
}
.img-logo-menu{
    width: 5%;
}
.img-logo-menu img:nth-child(1){ margin-right: 36px; }
.img-logo-menu img:nth-child(2){ display: none;}
.img-logo-menu a{ display: none;}
nav .nav-right{
    width: 44%;
}
nav img{
    width: 40px;
}

nav .nav-right .ip-title-logo{ 
    margin-right: 20px;
    cursor: pointer;
}
nav .nav-right  .andriod-version-title{
    margin:3.5px 20px 0 0 ;
    font-size: 15px;
    color: #DBD6D6;
    border-radius: 5px;
    border:1.6px solid #1985A1;
    padding: 1.75px 12px;
    cursor: pointer;
}
nav .nav-left{ direction: ltr; }
nav .nav-left div:nth-child(1){  margin: 0 20px 0 40px ; }
nav .nav-left div{
    font-size: 14.75px;
    margin: 0 20px;
    color: #EDE7E7;
}
nav .nav-left div:hover{
    color: #fff;
    cursor: pointer;
}
/* Header */
header{
    width: 100%;
    height: 750px;
    /* margin-top: 52px; */
    background-image: url("../img/headerbackground.png");
    background-size: 70%;
    background-repeat: no-repeat;
    display:flex;
    flex-flow: column wrap;
    justify-content: center;
}
header .header-wrapper{ margin: -150px 150px 0 0 ; }
header .header-title{ font-size: 30px; }
header .header-wrapper p{
    color: #ddd;
    margin: 8px 0   ;
}
header .header-wrapper .btn-container-header{
    margin:18.5px 0;
}
.btn-container-header a,
.btn-container-header button{
    border: 0;
    background: #1985A1;
    width: 300px;
    border-radius:50px;
    color: #fff;
    font-size: 22px;
    font-weight: thin;
    font-family: Vazir;
    padding:7px 0 ;
}
.btn-container-header a:hover,
.btn-container-header button:hover{
    transform: scale(1.03);
    cursor: pointer;
}
.main-contents{
    width: 100%;
    height: 750px;
    margin-top: -209px;
    background-image: url("../img/background-2.png");
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-size: 68% 102%;
    background-position:right bottom;
    position: relative;
    z-index: 500;
}
.main-contents .main-content-wrapper{
    padding: 150px  0 0 0 ;
    width: 100%;
}
.main-contents .main-content-wrapper h2{
    text-align: center;
}
.discription-of-app{
    width: 100%;
    height: 500px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around   ;
    /* align-content: center; */
    align-items: center;
}
.discription-of-app .img-of-dis-app{
    height: 430px;
    border-radius: 5px;
    box-shadow:  0 31px 16px rgba(0,0,0,0.16);
}
.discription-of-app .img-of-dis-app img{
    width: 100%;
    height: 100%;
    border: 2px solid #1985A1 ;
    border-radius: 5px;
}
.discription-of-app .title-of-dis-app{
    margin-top: 69px;
    margin-right: 50px;
    /*! text-align: left; */
}
.discription-of-app .explain-of-dis-app{
    width: 300px;
}

.main-contents .time-line{
    width: 250px ;
    height: 9px;
    margin: 5px auto ;
    background: rgba(255, 255, 255, 0.418);
    border-radius: 5px;
    position: relative;
    z-index: 200;
    direction: ltr;
    box-shadow: 0 0 20px rgba(255,255,255,0.2);
}
.main-contents .second-time{    
    width: 100px ;
    height: 9px;
    background: rgb(255, 255, 255);
    border-radius: 5px;
    position: absolute;
    top: 0;
    left: -1px;
    z-index: 20;
    animation: time_line 8s infinite;
}
footer{
    width: 100%;
    background:#4C5C68; 
    height: 280px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}
footer .footer-top{
    width: 40%;
    margin: 5px;
}
footer .footer-right{text-align: right;}
footer .footer-right div{
    width:200px;
    text-align: center;
}
footer .footer-right a{ margin: 0 5px ;}
footer .footer-right img{
    width: 60px;
    margin-top: 10px;
    background: #788792;
    padding: 10px;
    border-radius: 50%;
}
footer .footer-left{text-align:left;}
footer .footer-left img{ width: 100px; cursor: pointer;}
footer .footer-below{
    text-align: center;
    width: 100%;
}
footer .footer-below p{ margin:10px 0;}

footer .footer-below span{
    margin:10px;
    color: #DBD6D6;
}
footer .footer-below span:hover{
    color: #fff;
}
/* Ruls Page*/
.rules-cards{
    width: 76%;
    background: #4C5C68;
    margin: 96px auto;
    padding: 20px  30px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.2);
}
.rules-cards h2:nth-child(1){ margin:12px  ;}
.rules-cards h3{margin-bottom: 10px;}
.rules-cards p{
    font-size: 15px;
    margin-bottom: 10px;
}
.rules-cards ul{margin-bottom: 20px;}
.rules-cards ul li{ margin-right: 20px;}
@media only screen and (max-width: 1200px){
    header{
        background-size: 90%;
    }
    .main-contents{
        background-size: 73% 100%;
    }
    
}
@media only screen and (max-width: 900px){
    .header-and-nav nav{  display: block !important; }
    .img-logo-menu{
        width: 100%;
        justify-content: space-between;
    }
    .img-logo-menu img:nth-child(2){
        display: block;
        margin-top: 10px;
        margin-left: 15px;
        width: 35px;
    }
    .img-logo-menu img:nth-child(1){margin-right: 5px;}
    .nav-left,
    .nav-right{
        width: 100% !important;
        flex-flow: column;
        height: auto !important;
        justify-content: center;
        background: #465560;
        display: none;
    }
    .nav-left div,
    .nav-right div { margin:5px 0 !important;  }
    .nav-right div:nth-child(1){display: none;}
    .nav-right div:nth-child(2){margin-top: 16px !important;}
    .nav-left {border-radius: 0 0 9px 9px;}
    .nav-left div:nth-child(3){margin-bottom:17px !important;}
    nav .nav-right  .andriod-version-title{ margin: 0; }
    nav .nav-left div:nth-child(1){ margin: 0 ; }
    header{
        background-image:url("../img/background-header-2.png"); 
        background-size: 100%;
        /* margin-top: -23px; */
        padding-top: 1px;
        height: 585px;
    }
    header .header-wrapper{  margin: -50px auto 0 auto; }
    header .header-wrapper p{  font-size: 14px; }
    header .header-title{ font-size: 23px; }
    .btn-container-header a,
    .btn-container-header button{
        padding: 5px 0 ;
        width: 280px;
        font-size: 20px;
    }
    .main-contents{
        /* background-color: #2231aa; */
        background-image: none;
        height: 585px;
        padding: 0 !important;
        margin-top: 0;
    }
    .main-contents .main-content-wrapper{ padding:  0;}
    .main-contents .main-content-wrapper h2{font-size: 18px;margin-top: 14px;}
    .main-contents .main-content-wrapper div{ width: 100%;}
    .discription-of-app .title-of-dis-app{margin-top: 10px;margin-right: 0;}
    .discription-of-app .explain-of-dis-app{
        margin: 0;
        font-size: 15px;
    }
    .discription-of-app .explain-of-dis-app div{
        width: 315px;
        margin: 10px auto;
        text-align: center;
        font-size: 14px;
    }
    .discription-of-app .img-of-dis-app{
        width: auto !important; 
        height: 300px;
        border-radius: 5px;
        box-shadow:  0 31px 16px rgba(0,0,0,0.16);
    }
    .discription-of-app .img-of-dis-app img{
        width: 100%;
        height: 100%;
        border: 2px solid #1985A1 ;
        border-radius: 5px;
    }
    .main-contents .time-line{
        width: 200px;
        height: 6px;
        margin: 20px auto 0 auto ;
    }
    .main-contents .second-time{    
        width: 0px;
        height: 6px;
    }
    footer .footer-right p{ font-size: 15px;}
    footer .footer-right img{ width: 50px; padding: 5px;}
    footer .footer-left img{ width:80px;}
    footer .footer-below  p { font-size: 15px; }
}
@media only screen and (max-width: 600px){
    footer{
        height: 400px;
    }
    footer .footer-top{
        width: 100% !important;
        text-align: center !important;
    }
    footer .footer-right div{margin: auto;}
    footer .footer-right p{ font-size: 15px;}
    footer .footer-right img{ width: 40px; padding: 5px;}
    footer .footer-left img{ width: 70px;}
    footer .footer-below  p { font-size: 14px; }
}
.use-Cantarell{  font-family: Cantarell-Regular;}
a{text-decoration: none; color: inherit;}
@keyframes time_line{
    0%{width: 0;}
    100%{ width:250px;}

}