.question-container{
    width: 70%;
    margin: 120px auto 70px auto ;
    padding: 20px 50px;
    background: #465560;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.2);
}
.question-container h2:nth-child(1){ margin-bottom: 20px;}
.question-container .questions-box{
    width: 90%;
    margin: 0 auto 20px auto;
    background: rgba(53, 63, 73, 1);
    border-radius: 3px;
}
.question-container .questions-box .question{
    margin-bottom: 10px;
    padding: 30px 30px 20px 30px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    font-size: 17px;
}
.questions-box .question .img-c{
    width: 30px;
    height: 30px;
    padding: 5px;
    border: 1.75px solid #FFF;
    border-radius: 50%;
    cursor: pointer;
}
.question .img-c  img{
    width: 100%;
    height: 100%;
    margin:2px 0 0 0;
    transform: rotate(0deg);
}
.question-container .questions-box .seprate-line{
    width: 96%;
    height: 1.75px;
    background: #b9b9b9;
    /*! margin: auto; */
}
.question-container .questions-box .q-answers{
    width: 100%;
    background: rgb(45, 53, 61);
    padding: 10px 30px 30px 100px;
    border-radius: 0 0 5px 5px;
    color: #dfdfdf;
    font-size: 15px;
    display: none;
    display: none;
}
.question-container .questions-box .q-answers p{ line-height: 28px;}

.main-container{
    width: 70%;
    height: 200px;
    margin: 90px auto;
    background: #4623aa;
}